.body,
html {
    padding: 0;
    margin: 0;
}

footer {
    margin-top: 0;
    padding-top: 0;
}

.album {
    background: linear-gradient(145deg, #b4cedd, #aac4d4);
    box-shadow: 20px 20px 60px #abc2cf, -20px -20px 60px #bddaec;
    margin-top: 80px;
    max-width: 100%;
    padding: 30px 50px;
}

.album .row {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.album .row a {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.album .row a img {
    width: 90%;
    height: fit-content;
    transition: all 0.2s ease-in-out;
    border-radius: 10px;
}

.album .row a img:hover {
    height: fit-content;
    border-radius: 32px;
    background: linear-gradient(145deg, #8fa5b2, #aac4d4);
    box-shadow: 20px 20px 60px #8194a0, -20px -20px 60px #bddaec;
}

.heading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

.heading h2 {
    border-radius: 10px;
    background: #96e4bb;
    box-shadow: 7px 7px 13px #80c29f, -7px -7px 13px #adffd7;
    padding: 10px 20px;
    font-size: 40px;
}

@media (max-width: 607px) {
    .album .row a {
        width: 30%;
    }
}

@media (max-width: 407px) {
    .heading h2 {
        font-size: 30px;
    }
    .row {
        flex-direction: column;
        align-items: space-around;
        justify-content: center;
    }
    .album .row a img {
        width: 80%;
    }
    .album .row a {
        width: 100%;
    }
    .album {
        padding: 15px 25px;
    }
}