* {
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
:root {
    --bg-color: #b8cdd3;
    --color: #63a3b6;
    --tp-color: var(--tp-color);
    --card-color: #7f8e95;
}

nav {
    color: var(--color);
    margin: 0px;
    padding: 0px;
    /* padding-inline: 20px; */
    width: 100%;
    border-radius: 10px;
    display: flex;
    align-self: center;
    justify-content: center;
    align-content: center;
    position: absolute;
}

.container-fluid {
    align-self: center;
    border-radius: 10px;
    display: flex;
    width: 90%;
    justify-content: center;
    align-content: center;
    backdrop-filter: blur(70px);
    flex-direction: row;
    background: rgba( 255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 4px);
    -webkit-backdrop-filter: blur( 4px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
}

.navbar-nav {
    justify-content: center;
    align-self: center;
}

.collapse {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px;
    padding: 0px;
}

nav .container-fluid .navbar-brand img {
    width: 150px;
    margin-left: 10px;
}

.nav-item {
    margin: 0px 8px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--color);
    margin: 2px 5px;
    padding: 5px;
}

nav li a {
    font-weight: 100;
    color: var(--color);
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    float: left;
    position: relative;
    padding: 10px 20px;
    overflow: hidden;
    font-size: 15px;
    text-align: center;
}

nav li a::after {
    background-color: var(--color);
    content: "";
    width: 0;
    height: 3px;
    left: 0;
    bottom: 0;
    transition: width 0.35s ease 0s;
    position: absolute;
}

nav li a:hover::after {
    width: 100%;
}

.navbar-toggler {
    border: 0px;
}

nav .contact nav li a::after {
    background-color: var(--color);
    content: "";
    width: 0;
    height: 3px;
    left: 0;
    bottom: 0;
    transition: width 0.35s ease 0s;
    position: absolute;
}

nav .contact li {
    background: var(--tp-color);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.15);
    backdrop-filter: blur( 4px);
    -webkit-backdrop-filter: blur( 4px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.1);
    font-weight: 500;
    margin: 0;
    padding: 0;
    border: 1px solid #f8c71b;
    background-color: #f8c71b;
    border-radius: 10px;
    font-weight: 700;
    transition: width 0.s ease 0s;
}

.scrolled-down {
    transform: translateY(-100%);
    transition: all 0.2s ease-in-out;
}

.scrolled-up {
    transform: translateY(0);
    transition: all 0.2s ease-in-out;
}


/* }this is media query */

@media only screen and (max-width: 1000px) {
    .collapse {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    nav li a {
        font-weight: 350;
        text-align: center;
    }
    nav .contact {
        border: 1px solid #f8c81b00;
        background-color: var(--bg-color);
        border-radius: 10px;
        font-weight: 100;
    }
    nav .container-fluid .navbar-brand img {
        width: 200px;
        margin-left: 0px;
    }
}

@media only screen and (max-width: 450px) and (min-width: 300px) {
    nav .container-fluid .navbar-brand img {
        width: 150px;
        margin-left: 0px;
    }
    .container-fluid {
        width: 95%;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
    nav .container-fluid .navbar-brand img {
        width: 150px;
        margin-left: 0px;
    }
    .container-fluid {
        width: 95%;
    }
    .nav-item .nav-link {
        font-size: 15px;
        text-align: center;
        font-size: small;
        color: var(--color);
    }
}

@media only screen and (max-width: 1220px) and (min-width: 1024px) {
    nav .container-fluid .navbar-brand img {
        width: 150px;
        margin-left: 0px;
    }
    .container-fluid {
        width: 95%;
    }
    nav li a {
        font-size: 20px;
        text-align: center;
        color: var(--color);
    }
}