body {
    background-color: #D8E4EA;
    margin: 0;
    padding: 0;
}


/* .page1 {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right bottom, rgb(252, 238, 163), rgb(192, 192, 72), rgb(206, 206, 111));
    background-size: 250%;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 40px;
    overflow: hidden;
} */

.maincontentbox {
    background-color: #D8E4EA;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 100px;
    margin: 0;
    padding: 0;
}

.maincontentbox .bgimg {
    background: fixed url(student_projects.jpg) no-repeat  border-box;
    background-size: 100%;
    width: 100%;
    height: 80vh;
}
.maincontentbox .heading{
    text-align: center;
    margin: 10px;padding: 10px;

}
.maincontentbox .studentsection {
    background-color: #D8E4EA;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 100px;
    ;
    margin: 10px;padding: 0;
}

.maincontentbox .studentsection .forpg {
    background-color: #D8E4EA;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.maincontentbox .studentsection .forpg .heading {
    font-size: xx-large;
    font-weight: 500;
}

.maincontentbox .studentsection .forpg .line {
    width: 75%;
    border: 0.5px solid white;
    margin: 10px;
    padding: 0px;
}

.maincontentbox .studentsection .forpg .cardsection {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.maincontentbox .studentsection .forpg .cardsection .card {
    margin: 15px;
    padding: 15px;
    width: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
    background: linear-gradient(145deg, #cfdce3, #aeb9bf);
    box-shadow: 5px 5px 21px #5f6568, -5px -5px 21px #ffffff;
}

.maincontentbox .studentsection .forpg .cardsection .card .leftbox img {
    width: 200px;
    height: 200px;
}

.maincontentbox .studentsection .forpg .cardsection .card .leftbox {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.maincontentbox .studentsection .forpg .cardsection .card .leftbox .btn {
    margin: 8px;
    width: 45%;
    border: 0px;
    border-radius: 10px;
    font-weight: 500;
}

.maincontentbox .studentsection .forpg .cardsection .card .rightbox {
    background-color: #34434e9d;
    margin: 5px;
    padding: 5px;
    width: 60%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 10px;
    color: white;
    background: #34434e;
    box-shadow: 5px 5px 21px #565b5e, -5px -5px 21px #ffffff;
}

.maincontentbox .studentsection .forpg .cardsection .card .rightbox .name {
    margin: 5px;
    padding: 5px;
    font-size: larger;
    font-weight: 500;
}

.maincontentbox .studentsection .forpg .cardsection .card .rightbox .details {
    margin: 5px;
    padding: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

.maincontentbox .studentsection .forpg .cardsection .card .rightbox .details strong {
    text-align: center;
    margin: 0px 40px;
    font-size: larger;
}

.maincontentbox .studentsection .forpg .cardsection .card .rightbox .experiment {
    margin: 2px;
    padding: 2px;
    width: 100%;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

.maincontentbox .studentsection .forpg .cardsection .card .rightbox .experiment strong {
    text-align: center;
    margin: 0px 20px;
    font-size: larger;
}


/* this is for ug section */

.forug {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.forug .line {
    width: 75%;
    border: 0.5px solid white;
    margin: 10px;
    padding: 0px;
}

.forug .heading {
    font-size: x-large;
    font-weight: 500;
    margin: 15px;
    padding: 10px;
    width: fit-content;
}

.forug .ugsection {
    background: linear-gradient(145deg, #cfdce3, #aeb9bf);
    box-shadow: 5px 5px 21px #5f6568, -5px -5px 21px #ffffff;
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
}

.forug .ugsection .cardsection2 {
    width: 100%;
    height: fit-content;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.forug .cardsection2 .card {
    width: 20%;
    height: 90%;
    margin: 15px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content:center;
    align-items: center;
    color: white;
    background: #34434e;
    box-shadow: 5px 5px 21px #565b5e, -5px -5px 21px #ffffff;
}

.forug .cardsection2 .card img {
    width: 100%;
   
}

.forug .cardsection2 .card p {
    font-size: larger;
    font-weight: 500;
}

.internship {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.internship .heading {
    font-size: x-large;
    font-weight: 500;
    margin: 15px;
    padding: 10px;
    width: fit-content;
}

.internship .line {
    width: 75%;
    border: 0.5px solid white;
    margin: 10px;
    padding: 0px;
}

.names {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 75%;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    margin: 10px;
    padding: 10px;
    color: white;
    background: #34434e;
    box-shadow: 5px 5px 21px #565b5e, -5px -5px 21px #ffffff;
}

.names .nameofstudent {
    margin: 10px;
    padding: 5px;
}

@media only screen and (max-width: 1030px) and (min-width: 760px) {
    .maincontentbox .studentsection .forpg .cardsection .card .leftbox .btn {
        width: 65%;
    }
    .maincontentbox .studentsection .forpg .cardsection .card .rightbox .details {
        margin: 5px;
        padding: 5px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .maincontentbox .studentsection .forpg .cardsection .card .rightbox .experiment {
        margin: 2px;
        padding: 2px;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
    }
}

@media only screen and (max-width: 768px) and (min-width: 524px) {
    .maincontentbox .studentsection .forpg .cardsection .card .rightbox .details {
        margin: 5px;
        padding: 5px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .maincontentbox .studentsection .forpg .cardsection .card .rightbox .experiment {
        display: flex;
        flex-direction: column;
    }
    .names {
        width: max-content;
        font-size: x-small;
    }
    .maincontentbox .studentsection .forpg .cardsection .card {
        width: 90%;
    }
    .maincontentbox .studentsection {
        margin: 0;
        padding: 0;
    }
}

@media only screen and (max-width: 524px) and (min-width: 320px) {
    body,
    html {
        width: 100%;
    }
    .maincontentbox .studentsection {
        background-color: #D8E4EA;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-top: 100px;
        ;
        margin: 10px;padding: 0;
    }
    
    .maincontentbox .studentsection .forpg .cardsection .card .leftbox .btn {
        width: 100%;
        font-size: x-small;
        padding: 8px;
        margin: 8px;
    }
    .maincontentbox .studentsection .forpg .cardsection .card .rightbox .details {
        margin: 5px;
        padding: 5px;
        width: 100%;
        display: flex;
        flex-direction: column;
        font-size: x-small;
    }
    .maincontentbox .studentsection .forpg .cardsection .card .rightbox .experiment {
        display: flex;
        flex-direction: column;
        font-size: x-small;
    }
    .names {
        width: fit-content;
        font-size: x-small;
    }
    .maincontentbox .studentsection .forpg .cardsection .card {
        width: 90%;
        flex-direction: column;
    }
    .maincontentbox .studentsection {
        margin: 0;
        padding: 0;
    }
    .maincontentbox .studentsection .forpg .cardsection .card .leftbox img {
        width: 100%;
    }
    .maincontentbox .studentsection .forpg .heading {
        font-size: x-large;
    }
    .forug .heading {
        font-size: large;
        margin: 0;
    }
    .forug .ugsection .cardsection2 {
        font-size: xx-small;
    }
    .forug .cardsection2 .card {
        width: 40%;
    }
    .maincontentbox .studentsection .forpg .cardsection .card {
        justify-content: center;
        align-items: center;
    }
    .maincontentbox .studentsection .forpg .cardsection .card .leftbox {
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .maincontentbox .studentsection .forpg .cardsection .card .rightbox {
        width: 90%;
    }
    .maincontentbox .bgimg{
        height: 40vh;
    }
    .forug .cardsection2 {
    
  
        display: flex;
        flex-direction: row;
  flex-wrap: wrap;
        justify-content:center;
        align-items: center;
 
    }
}